<p id="notice"><%= notice %></p>
   
<% if @current_user.role =="owner"%>
    <%= render partial: "select_menu",
        locals: { 
            menu_id: @current_menu_id
        } 
    %>
<% end %>

<%= render partial: "display_menu",
    locals: { 
        menu_id: @current_menu_id 
    } 
%>

<% if @current_user.role =="owner"%>
<%= link_to 'Add Menu Item', new_menu_item_path(:current_menu_id => @current_menu_id) 
%>
<% end %>


